canvas { display: block; }
#webcam { display: none; }
// #canvas-texture { display: none; }
a { color: #fff; }
button {
    cursor: pointer;
}

// - Header
.app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 2rem 4rem 2rem;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top, transparent 10%, rgba(gray, 0.5) 100%);
    button { float: right; }
    .info-container {
        position: relative;
    }
    .info {
        position: absolute;
        top: 20px;
        left: -400px;
        padding: 1.2rem;
        width: 400px;
        z-index: -1;
        &.open {
            .info-content { opacity: 1; transform: translate3d(0, 0, 0); }
            .info-background { transform: scale3d(1, 1, 1); }
        }
        .info-content {
            opacity: 0;
            transform: translate3d(0, 20px, 0);
            transition: opacity 0.2s ease-out 0.1s,
                        transform 0.2s ease-out 0.1s;
        }
        .info-background {
            position: absolute;
            top: 0px;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
            background: rgba(#121212, 0.56);

            transform: scale3d(0, 1, 1);
            transform-origin: 100% 0 0;
            transition: transform 0.2s ease-out;
        }
    }

}
.effect-picker {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
    padding: 2rem 0;
    display: flex;
    &:before {
        content: '';
        position: absolute;
        width:  100px;
        height: 100px;
        top: -100px;
        left: 0;
        border: 8px solid #e74c3c;
        border-radius: 50%;
    }
    .pickers-container {
        position: absolute;
        top: -90px;
        left: 10px;
        width: 620px;
        display: flex;

        transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
        .picker-button-container {
            width:  80px;
            height: 80px;
            //margin-top: 10px;
            margin-right: 40px;
            &:nth-of-type(2) {
                .picker-button {
                    background-position: -160px 0;
                }
            }
            &:nth-of-type(3) {
                .picker-button {
                    background-position: 0px 0;
                }
            }
            &:nth-of-type(4) {
                .picker-button {
                    background-position: -240px 0;
                }
            }
            .picker-button {
                background-image: url('/assets/buttons-sprites.png');
                background-repeat: no-repeat;
                background-color: #cfcfcf;
                border: 8px solid #fff;
                background-position: -80px 0;
                width: 100%;
                height: 100%;
                text-align: center;
                border-radius: 50%;
                &:focus {
                    outline: 0;
                }
                
            }
        }
    }
}

.info-button {
    background: none;
    border: none;
    color: #fff;
    position: relative;
    font-size: 18px;
    &:before {
        content: 'Close';
        position: absolute;
        top: 0;
        left: -52px;

        transition: opacity 0.2s ease-out,
                    transform 0.2s ease-out;
        opacity: 0;
        transform: translateX(-12px);
    }
    &.open:before {
        opacity: 1;
        transform: translateX(0);
    }
    &:focus {
        outline: 0;
    }
}

.info-content {
    color: rgba(255, 255, 255, 0.88);
    ul {
        li { list-style: none; }
    }
    .section-title {
        margin-top: 1rem;        
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #fff;
        &:first-of-type { margin-top: 0; }
    }
    .contact-links {
        display: flex;
        li {
            margin-right: 10px;
            &:last-of-type { margin-right: 0; }
        }
    }
}